// set custom hex colors 
$siteBgColorCustom: #ffffff;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #000000;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #144452;
$headingColorCustom: #103742;
$bodyLinkColorCustom: #4dbfb4;
$navLinkColorCustom: #4dbfb4;
$sidebarLinkColorCustom: #4dbfb4;
$footerTextColorCustom: #144452;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #4dbfb4;
$borderColorCustom: #c4beb9;
$highlightColor: #4dbfb4;